
body {
    font-family: 'Open Sans', Arial, Verdana;
    font-size: 15px;
  
    height: 300px;
}

.con-number{
	    background: linear-gradient(to bottom,#0097d8 0,#0eb3d4 75%) rgba(0,0,0,0);
}

.text-n{
 	font-size: 80px;
}

.footer{
	background-color: #212733;
	    font-family: var(--main-fuente);
    color: #BBBABA;
}

/* 

}
/* Large Desktop
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */
@media (min-width: 1200px) {
  
}
/* Defaul Desktop
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */
@media (min-width: 980px) {
  
}
/* Laptop
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */
@media (max-width: 1020px) {
}
/* Tablets
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */
@media (max-width: 980px) {
  
}
@media (max-width: 960px) {
  
  }
/* Landskape Phone to Small Desktop & Portrait Tablet
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */
@media (max-width: 767px) {

}
@media (max-width: 640px) {

  
}
/* Up to Landskape Phone
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */
@media (max-width: 480px) {
	
	.text-n{
		font-size: 30px;
	}
	.navbar-w{
		width: 360px;
	}
	.main{
		width: 360px;
	}
 }
/* Up to Portrait Phone
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */
@media (max-width: 420px) {
	

}
@media (max-width: 380px) {
	
}

